---
// Component Imports
import Navbar from '../components/Navbar.astro';
import Repl from '../components/Repl.svelte'
// You can import components from any supported Framework here!

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Repl @ PyTools';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
    <script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js">
</script>
</head>
<body>
    <Navbar />
    <main>
        <Repl client:load></Repl>
    </main>
    <script type="text/python">
def print(string):
    document["output"].innerHTML = document["output"].innerHTML + string
    </script>
</body>
</html>
