---
// Component Imports
import Navbar from '../components/Navbar.astro';
import Escaper from '../components/Escaper.svelte'
// You can import components from any supported Framework here!

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'String escaper @ PyTools';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
import {escapeString} from '../stringEscaper.js'
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
</head>
<body>
    <Navbar />  
    <main>

        <Escaper client:load />

    </main>
</body>
</html>

<style>

</style>